/.idea
/.DS_Store
/.idea/*
/Chapter01/.DS_Store
/NodeJsDesignPatterns.iml
/Chapter03/01_callback_hell/callbackDiscipline/node_modules
/Chapter03/01_callback_hell/callbackHell/node_modules
/Chapter03/01_callback_hell/pyramidOfDoom/node_modules
/Chapter03/01_callback_hell/pyramidOfDoom/imagedb
/Chapter03/01_callback_hell/discipline/imagedb
/Chapter03/01_callback_hell/discipline/node_modules
/Chapter04/exercises/02_bluebird/node_modules
node_modules
.DS_Store
